                
                
                
                
 
                <table class="table table-bordered mt-2">
                    <thead>
                        <tr class="p-0 m-0" style="background-color: #bbb;">
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Cricket</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Football</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Tennis</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Horse Racing</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Grevhound Racing</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Teenpatti</span>
                            </a>
                          </th>
                          <th scope="col">
                            <a class="nav-link px-3 active" href="#">
                                <span class=" fw-bold">Roulette</span>
                            </a>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td colspan="2">Larry the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                </table>


                <a _ngcontent-kbq-c35="" href="javascript:void(0);" role="tab" class="nav-link" aria-controls="" aria-selected="false" id="">
                    <span _ngcontent-kbq-c35=""></span><div _ngcontent-kbq-c79="" class="d-flex flex-column h-full align-items-center justify-content-center">
                    <img _ngcontent-kbq-c79="" class="img-fluid" src="/assets/img/icons/7.png">
                    <!----><b _ngcontent-kbq-c79="">Horse Racing</b>
                </div><!----><!---->
               </a>